<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.muml.rtsc.RTSC" xdsmlFilePath="/org.muml.rtsc/bin/org/muml/rtsc/RTSC.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.muml.rtsc.RTSCMT" uri="http://org.muml.rtsc.rtscmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.muml.rtsc.RTSCMT" id="org.muml.rtsc.RTSC" uri="http://www.muml.org/rtsc" />
  </extension>
</plugin>
