realtimestatechart.xdsml.xrtsc/bin/
realtimestatechart.xdsml.debug.design/bin/realtimestatechart/xdsml/debug/design/Activator.class
realtimestatechart.xdsml/bin/realtimestatechart/xdsml/.RTSC.java._trace
realtimestatechart.xdsml/bin/
*._trace
