<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.muml.seq.xsrtsc.design.Activator"
               id="org.muml.xsrtsc.design"
	       name="XRTSC">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.muml.seq.xsrtsc.design.AddMessageAction"
           id="org.muml.seq.xsrtsc.design.addMessageAction">
     </javaActions>
  </extension>
</plugin>
