<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XSRTSC -->
      <package
            uri="http://org.muml.seq.xsrtsc.xsrtsc/rtsc/"
            class="org.muml.seq.xsrtsc.xsrtsc.rtsc.RtscPackage"
            genModel="model/XSRTSC.genmodel"/>
   </extension>

</plugin>
