/BehaviorAdapter.java
/BehavioralElementAdapter.java
/ClockAdapter.java
/ClockConstraintAdapter.java
/ConnectorAdapter.java
/CoordinationProtocolAdapter.java
/GuardAdapter.java
/MessageAdapter.java
/MessageBufferAdapter.java
/MessageTypeAdapter.java
/MessageTypeRepositoryAdapter.java
/NamedElementAdapter.java
/PortAdapter.java
/RealtimestatechartAdapter.java
/RtscFactoryAdapter.java
/StateAdapter.java
/SystemAdapter.java
/TransitionAdapter.java
/VariableAdapter.java
/VertexAdapter.java
